# This is Git's per-user configuration file.

# Include this file with an entry like
#[include]
#  path = ~/code/shared/shared_scripts.git/dotfiles/.gitconfig

#[user]
# Please adapt and uncomment the following lines:
#  name = First Sur
#  email = some.email@someserver.com

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  #09 in format is ascii character for tab
  lols = log --graph --decorate --abbrev-commit --all --pretty=\"%C(Yellow)%h  %C(reset)%ad (%C(Green)%cr%C(reset))%x09 %C(Cyan)%an: %C(reset)%s\"
  los = log --pretty=\"%C(Yellow)%h  %C(reset)%ad (%C(Green)%cr%C(reset))%x09 %C(Cyan)%an: %C(reset)%s\"
  last = log HEAD^..HEAD --name-status
  firstremote = "!git config remote.origin.url > /dev/null && echo origin || git remote | head -n 1"
  url = "!git config --get remote.$(git firstremote).url"

  httpsrawurl = ! "f() {\
    local url; url=\"$(git url | sed -e 's!megithub!github!' -e 's!publicgithub!github!')\" ; \
    if [ \"${url:0:4}\" == 'http' ]; then \
      echo \"${url}\" | sed -e 's!\\.git$!!' ; \
    else \
      echo \"${url}\" \
        | sed -e 's!:!/!' -e 's!^\\(.*\\)@!https://!' -e 's!\\.git$!!'; \
    fi\
    }; \
    f"
  httpsurlbranch = ! "f() {\
    local url; url=\"$(git url | sed -e 's!megithub!github!' -e 's!publicgithub!github!')\" ; \
    if [ \"${url:0:4}\" == 'http' ]; then \
      echo \"${url}\" \
        | sed -e 's!\\.git$!/tree!' | tr '\n' '/' && git rev-parse --abbrev-ref HEAD ; \
    else \
      echo \"${url}\" \
        | sed -e 's!:!/!' -e 's!^\\(.*\\)@!https://!' -e 's!\\.git$!/tree!' | tr '\n' '/' && git rev-parse --abbrev-ref HEAD ; \
    fi\
    }; \
    f"
  httpsurl = httpsurlbranch
  diffl = "!_diffl() { git diff \"${@}\" -- ':(exclude)*.lockfile'; }; _diffl"
  diffdevl = diffl origin/develop

[color]
  diff = auto
[color "branch"]
  upstream = bold cyan
[core]
  autocrlf = false

[merge]
  tool = kdiff3

[mergetool]
  keepBackup = false

# Add a path for kdiff3 or whichever tool you use
#[mergetool "kdiff3"]
#  path=/Applications/kdiff3.app/Contents/MacOS/kdiff3


