# vim: ft=zsh

unalias unalias 1>/dev/null 2>&1
unalias alias 1>/dev/null 2>&1

##if [ -d /opt/gradle/gradle-4* ]
#if ls /opt/gradle/gradle-4* 1>/dev/null 2>&1
#then
#  unalias addgradle4 1>/dev/null 2>&1
#  alias gradle4='[ -n "${GRADLE_HOME}" ] && pathremove "${GRADLE_HOME}/bin"; unset GRADLE_HOME; GRADLE_HOME=`find /opt/gradle -name "gradle-4*" -type d -maxdepth 1 | tail -n 1`; pathappend "${GRADLE_HOME}/bin"; export PATH; export GRADLE_HOME; which gradle'
#fi
#
##if [ -d /opt/gradle/gradle-5* ]
#if ls /opt/gradle/gradle-5* 1>/dev/null 2>&1
#then
#  unalias gradle5 1>/dev/null 2>&1
#  alias gradle5='[ -n "${GRADLE_HOME}" ] && pathremove "${GRADLE_HOME}/bin"; unset GRADLE_HOME; GRADLE_HOME=`find /opt/gradle -name "gradle-5*" -type d -maxdepth 1 | tail -n 1`; pathappend "${GRADLE_HOME}/bin"; export PATH; export GRADLE_HOME; which gradle'
#fi

#_installed_gradle_major_counter=4
#
#while ls /opt/gradle/gradle-${_installed_gradle_major_counter}* 1>/dev/null 2>&1
#do
#  unalias gradle${_installed_gradle_major_counter} 1>/dev/null 2>&1
#  alias gradle${_installed_gradle_major_counter}='[ -n "${GRADLE_HOME}" ] && pathremove "${GRADLE_HOME}/bin"; unset GRADLE_HOME; GRADLE_HOME=`find /opt/gradle -name "gradle-'"${_installed_gradle_major_counter}"'*" -type d -maxdepth 1 | sort | tail -n 1`; pathappend "${GRADLE_HOME}/bin"; export PATH; export GRADLE_HOME; which gradle'
#  (( _installed_gradle_major_counter+=1 ))
#done

__() {
  if [ -d /opt/gradle ]
  then
    case $(uname -a | tr '[:upper:]' '[:lower:]') in
      *mingw64*|*cygwin*)
        find /opt/gradle -maxdepth 1 -name "gradle-[5-9]*" -type d 
        ;;
      *darwin*|*)
        find /opt/gradle -name "gradle-[5-9]*" -type d -maxdepth 1
        ;;
    esac
  fi
}

while read _gradle_installation_path
do
  read _gradle_major_version _gradle_minor_version < <(basename ${_gradle_installation_path} | sed 's/gradle-\([0-9]\)*\.\([0-9]*\).*/\1 \2/g')
  # Not exactly sure why the empty command is necessary, but without it the first command is swallowed and get an 'Unknown command -n' error.
  _gradle_alias=' [ -n "${GRADLE_HOME}" ] && pathremove "${GRADLE_HOME}/bin"; unset GRADLE_HOME; GRADLE_HOME="'"${_gradle_installation_path}"'"; pathappend "${GRADLE_HOME}/bin"; export GRADLE_HOME="${GRADLE_HOME}"; echo "GRADLE_HOME=${GRADLE_HOME}"; which gradle'
  alias gradle${_gradle_major_version}${_gradle_minor_version}="${_gradle_alias}"
  unalias gradle${_gradle_major_version} &>/dev/null
  alias gradle${_gradle_major_version}="${_gradle_alias}"
done < <(__ | sort)
#done < <(find /opt/gradle -name "gradle-[5-9]*" -type d -maxdepth 1 | sort)

unset _gradle_major_version
unset _gradle_minor_version
unset _gradle_installation_path
unset _gradle_alias

